
/* Reset CSS, um Standard-Stile zu entfernen */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

head {
    display: none;
}

body {
    font: 400 16px/1.5 -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    letter-spacing: normal;
}

a {
    color: #0969da;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header {
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: #fff;
    box-shadow: 0 3px 1px -2px #0003, 0 2px 2px #00000024, 0 1px 5px #0000001f;
}

header .nav-header {
    display: flex;
    gap: 32px;
    max-width: 1300px;
    padding: 24px 72px;
    box-sizing: border-box;
    margin: 0 auto;
}

header .nav-header .left-col {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 66%;
    gap: 16px;
}

header .nav-header .link-container {
    display: flex;
    flex-direction: row;
    gap: 32px;
}

header .nav-header .nav-link {
    color: #606060;
}

header .nav-header a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}




header .nav-header .title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

header .nav-header .title-container .title {
    font: 600 24px/32px -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    letter-spacing: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


header .nav-header .right-col {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

header .nav-header .rki-logo-link {
    margin-right: 10px;
}

header .nav-header .rki-logo-link .rki-logo {
    max-height: 72px;
    max-width: 100%;
}


.abstract-tag-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    max-width: 1300px;

    padding: 24px 72px;
    box-sizing: border-box;

    margin: 0 auto;
}

p {
    margin-top: 0;
    margin-bottom: 16px;
}

h1 {
    font: 700 32px/48px -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    letter-spacing: normal;
    margin: 0 0 16px;
}

h2 {
    font-weight: 600;
    padding-bottom: 0.3em;
    font-size: 1.5em;
}

blockquote {
    margin-top: 10px;

    padding: 0 1em;
    color: #57606a;
    border-left: 0.25em solid #d0d7de;
}


#iframe-container {
    padding-top: 10px;
    height: 100vh;
    overflow-y: hidden;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}

ul {
    padding-left: 1em;
}

address {
    font-style:normal;
}


table {
    border-collapse: collapse;
    width: 60%;
}

th, td {
    padding: 1px;
    text-align: left;
}
th{
    font-weight: normal;
}

.header {
    background: #005db9;
    width: 100%;
    display: flex;
    justify-content: center;
}

.header .header-image-background {
    background: #005db9;
    padding: 90px 72px;
    color: #fff;
    background-image: url(../images/header_background.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 1300px;
    box-sizing: border-box;
}

.header .header-image-background .title-container .title {
    flex: 1;
    word-break: break-word;
    font: 800 45px / 48px Roboto, Helvetica Neue, sans-serif;
    letter-spacing: -.005em;
    margin-bottom: 16px;
}

.icon {
    max-height: 1em;
    width: 1em;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 570px;
    margin-top: 10px
}

.container {
    padding: 2px 16px;
}

.card-content {
    padding: 30px 30px 10px 30px;
}

.card-title {
    margin-bottom: 16px;
}

.card-container {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

.card a {
    text-decoration: none;
    color: black;
}

.card a:hover {
    text-decoration: underline;
}

.mobile-nav {
    overflow: hidden;
    position: relative;
    display: none;
}

.mobile-nav #nav-links {
    display: none;
}

.mobile-nav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.mobile-nav a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.mobile-nav a:hover {
    background-color: #ddd;
    color: black;
}

.active {
    background-color: white;
    color: black;
}

.timeline-image {
    margin: 16px 0;
    display: flex;
    justify-self: center;
    max-width: 100%;
}

.button-wrapper {
    display: flex;
    justify-content: center;
}

.button {
    margin: 10px;
    background-color: #224365;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.button:hover {
    text-decoration: none;
}

.abstract-tag-container {
    scroll-margin-top: 100px;
}

#scrollTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #005db9;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

#myBtn:hover {
    background-color: #555;
}

@media (max-width: 1050px) {
    .mobile-nav {
        display: block;
    }
    header .nav-header .link-container {
        display: none;
    }
}

@media (min-width: 1050px) {
    .mobile-nav {
        display: none;
    }
    .nav-header {
        display: block;
    }
}